apache-airflow[postgres,ldap,statsd,ssh,google]==2.2.4
python-dotenv
coverage
invoke
GitPython
flake8
wheel
tailhead
psutil
pyhamcrest
oauth2client
Flask
Flask-SQLAlchemy
SQLAlchemy
Werkzeug
psycopg2
gunicorn